body {
	width: auto; 
	margin-left: 10%; 
	margin-right: 10%;
	}
   a {
   	text-decoration: none;
   	}
   a:visited {
   	color: blue;
   	}
   #profilepic {height: 260px; 
   float: right; 
   margin-bottom: 20px; 
   margin-left: 15px;
   }
   #about {
   	margin-top: 30px;
   	}
   h3 {
   	background-color: rgb(173, 201, 186); 
   padding: 1%; 
   clear: both;
   }
   
   h5 {
   	display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
   }
   
   #emailid {
   	font-family: monospace;
   }
   .info {
   	margin-left: 3%;
   	}